<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>任务管理器</title>
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <script src="/static/js/echarts.js"></script>
    <link rel="stylesheet" href="/static/plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/static/css/global.css" media="all">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/table.css" />
    <script src="/static/js/jquery.min.js"></script>
</head>

<body style="background-color: #2c275f">
    <div style="margin-top: 50px;margin-left:25px;width:100%;height: 360px;float: left;border-radius:25px;">
        <div id='echartsBox' style="background-color:#3e367f;border-radius: 25px;">
        </div>
        <div style="margin-left:25px;margin-top:290px;width:1550px;height:30px;clear: both;background-color:#3e367f;border-radius: 1em 1em 1em;">
            <span id="sysinfo"></span>
        </div>
    </div>
    <div class="admin-main" style="width:40%;float: left">
        <fieldset class="layui-elem-field">
            <legend><a style="color: white">共有</a><a id='proListSize' style="color: white">0</a><a style="color: white">个进程&#8195;</a><a class='layui-btn layui-btn-normal layui-btn-sm' href='javascript:void(0);' onclick='refPro()'>刷新</a>
                <a style="clear: both;font-size: 8px;color: #A4A4A4">点击进程名查看更多</a>
            </legend>
            <div class="layui-field-box">
                <table class="site-table table-hover">
                    <thead id="prodatattl" style="color: white">
                    </thead>
                    <tbody id="prodataList" style="color: white">
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>
    <!-- 分隔符 !-->
    <div class="admin-main" style="width:46%;float: left">
      <fieldset class="layui-elem-field">
        <legend><a style="color: white">全部网络连接&#8195;</a>
          <a class='layui-btn layui-btn-normal layui-btn-sm' onclick='refNet()'>刷新</a>
          <a style="clear: both;font-size: 8px;color: #A4A4A4">点击进程名查看更多</a>
        </legend>
        <div class="layui-field-box">
          <table class="site-table table-hover">
            <thead style="color: white">
              <tr><th>进程名</th><th>pid</th><th>类型</th>
              <th>状态</th><th>本地</th><th>远程</th></tr>
            </thead>
            <tbody id="networkdataList" style="color: white"></tbody>
          </table>
        </div>
      </fieldset>
    </div>
        <script type="text/javascript" src="/static/js/ffevent.js"></script>
        <script type="text/javascript" src="/static/js/jszip-utils.min.js"></script>
        <script type="text/javascript" src="/static/js/jszip.min.js"></script>
    <script type="text/javascript" src="/static/plugins/layui/layui.js"></script>
    <script type="text/javascript">
        function getNetHtml(te) {
            var $ = layui.jquery;
            var hem = '';
            $.each(te, function (i, item) {
                hem += '<tr>'
                hem += "<td><a style='color:#1AA094' href='javascript:void(0);' onclick='ProcessDetails()' id='" + item.pid + "'>" + item.process + "</a></td>";
                hem += "<td>" + item.pid + "</td>";
                hem += "<td>" + item.type + "</td>";
                hem += "<td>" + item.status + "</td>";
                hem += "<td>" + item.laddr + "</td>";
                hem += "<td>" + item.raddr + "</td>";
                hem += "</tr>";
            });
            
            return hem;
        };

        function getProHtml(te) {
            var $ = layui.jquery;
            var hem = '';
            $.each(te, function (i, item) {
                hem += '<tr>';
                hem += "<td><a style='color:#1AA094' href='javascript:void(0);' onclick='ProcessDetails()' id='" + item.pid + "'>" + item.name + "</a></td>";
                hem += "<td>" + item.pid + "</td>";
                hem += "<td>" + item.user + "</td>";
                hem += "<td>" + item.memory_percent + "</td></tr>";
            });
            return hem;
        };

        // ajax分布加载进程的表头
        function getProTtl(te) {
            var $ = layui.jquery;
            var hem = '<tr>';
            $.each(te, function (i, item) {
                hem += "<th>" + item + "</th>";
            });
            hem += "</tr>"
            return hem;
        };
        layui.config({
            base: '/static/plugins/layui/modules/'
        });
        layui.use(['icheck', 'laypage', 'layer'], function () {
            var $ = layui.jquery,
                laypage = layui.laypage,
                layer = parent.layer === undefined ? layui.layer : parent.layer;

            function GetNetResult() {
                ms = layer.msg('加载中...');
                document.getElementById("networkdataList").innerHTML = '';
                JSZipUtils.getBinaryContent('/GetNetWorkList?p='+Math.random(), function(err, data) {
                var new_zip = new JSZip();
                new_zip.loadAsync(data)
                    .then(function(zip) {
                    $.each(Object.keys(zip.files), function (i, item) {
                        ds = new_zip.file(item).async("string");
                        ds.then(function(value) {
                            value = $.parseJSON( value );
                            document.getElementById("networkdataList").innerHTML += getNetHtml(value);
                            });
                        }); 
                        new_zip = '';
                        ds = '';
                        value='';


                    });
                });
            };


            function GetProResult() {
                ms = layer.msg('加载中...');
                document.getElementById("prodataList").innerHTML = '';
                $.ajax({
                    type: "POST",
                    dataType: "html",
                    url: '/GetProcessList',
                    success: function (data) {
                        obj = jQuery.parseJSON(data);
                        layer.close(ms);
                        if (obj.resultCode == '1') {
                            alert(obj.result);
                            return 0
                        };
                        workList = obj.result;
                        ttl = ['进程名', 'pid', '执行用户', '内存使用'];
                        document.getElementById("prodatattl").innerHTML = getProTtl(ttl); //首先加载表头
                        document.getElementById("proListSize").text = workList.length;
                        document.getElementById("prodataList").innerHTML = getProHtml(workList); //然后加载表格进程内容
                        workList = ''

                    }
                });
            };
            GetNetResult();
            GetProResult();
            ProcessDetails = function () {
                pid = event.srcElement.id;
                $.ajax({
                    type: "POST",
                    dataType: "html",
                    url: '/ProcessDetails',
                    data: {
                        'pid': pid
                    },
                    success: function (data) {
                        obj = jQuery.parseJSON(data);
                        if (obj.resultCode == '1') {
                            layer.msg(obj.result);
                            return 0
                        } else {
                            ProcessDetailsConcent = '';
                            ProcessDetailsConcent += '进程名: ' + obj.result.ProcessName + '<br>';
                            ProcessDetailsConcent += '进程状态: ' + obj.result.ProcessStatus + '<br>';
                            ProcessDetailsConcent += '进程身份: ' + obj.result.ProcessUser + '<br>';
                            ProcessDetailsConcent += '进程占用CPU: ' + obj.result.ProcessCPU + '<br>';
                            ProcessDetailsConcent += '进程占用内存: ' + obj.result.ProcessMemory + '<br>';
                            ProcessDetailsConcent += '进程IO读取次数: ' + obj.result.ProcessReadCount + '<br>';
                            ProcessDetailsConcent += '进程IO写入次数: ' + obj.result.ProcessWriteCount + '<br>';
                            ProcessDetailsConcent += '进程IO读取bytes: ' + obj.result.ProcessReadBytes + '<br>';
                            ProcessDetailsConcent += '进程IO写入bytes: ' + obj.result.ProcessWriteBytes + '<br>';
                            ProcessDetailsConcent += '进程线程: ' + obj.result.ProcessThreads + '<br>';
                            ProcessDetailsConcent += '进程创建时间: ' + obj.result.ProcessStartTime + '<br>';
                            ProcessDetailsConcent += '进程路径: ' + obj.result.ProcessPath + '<br>';
                            clickalert = layer.alert('进程' + pid + '的信息', {
                                title: '进程' + pid + '的信息',
                                skin: 'layui-layer-molv',
                                anim: 0,
                                btn: ['终止进程', '返回'],
                                content: ProcessDetailsConcent,
                                yes: function (index) {
                                        killPid(pid);
                                        layer.close(clickalert);
                                    },
                                    btn2: function () {
                                        layer.close(clickalert);
                                    }



                            });

                        };
                    }
                });
            };
            refPro = function () {
                GetProResult();
            };
            refNet = function () {
                GetNetResult();
            };
            killPid = function (pidnub) {
                pid = pidnub;
                $.ajax({
                    type: "POST",
                    dataType: "html",
                    url: '/KillPid',
                    data: {
                        'pid': pid
                    },
                    success: function (data) {
                        if (jQuery.parseJSON(data).resultCode == '1') {
                            layer.msg(jQuery.parseJSON(data).result);
                            return 0
                        };
                        layer.msg('结束成功');
                        GetNetResult()
                        GetProResult()
                    }
                });
            }
        });
    </script>
    <script type="text/javascript">
        var timeAxis = [];
        var sendArr = [];
        var rcvdArr = [];
        function GetPieJson() {
            $.ajax({
                type: "POST",
                dataType: "html",
                url: '/GetPie',
                success: function (data) {
                    var result = jQuery.parseJSON(data)
                    if (result.resultCode == '1') {
                        alert(result.result);
                        return 0
                    };
                    $.each(result.result, function (i, item) {
                        CreatPie(item)
                    });
                    var ht = '&#12288;';
                    $.each(result.sysinfo, function (i, item) {
                        ht += '<a style="color:white;">' + item + '</a>&#12288;&#12288;'
                    });
                    document.getElementById('sysinfo').innerHTML = ht;

                    ht = '';
			        var parent = document.getElementById('echartsBox');　　　　
			        var div = document.createElement("div");　　　　
			        div.setAttribute("id", 'echartsLine');
			        div.setAttribute("style", "padding:15px 10px;margin-left:20px; width: 500px;height:240px;float: left;background-color:#3e367f;border-radius: 25px;");　　　　
			        parent.appendChild(div);  
			        GetLineJson() //页面加载完成后,先请求一次实时流量,以免初次加载完折线图后数据空白
			        GetLineJson()
                }
            });
        };

        function CreatPie(dict) {
            var option = {
                title: {
                    text: dict.ttl, //标题
                    x: 'center', //标题居中
                    textStyle: { //图例文字的样式
                        color: '#fff'
                    }
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} " + dict.suffix
                },
                //颜色-项目对应
                calculable: true,
                color : [ '#01d882', '#feb501' ],
                graphic: [{ //环形图中间添加文字
                    type: 'text', //通过不同top值可以设置上下显示
                    left: 'center',
                    top: '60%',
                    style: {
                        text: dict.subtext,
                        textAlign: 'center',
                        fill: 'white', //文字的颜色
                        fontSize: 14,
                        fontFamily: "Microsoft YaHei"
                    }
                }],
                series: [{
                        name: dict.ttl,
                        type: 'pie',
                        radius: ['50%', '70%'],
                        center: ['50%', '60%'], //饼图的位置
                        data: dict.json
                }],
            };　　　　　　
            var parent = document.getElementById('echartsBox');　　　　
            var div = document.createElement("div");　　　　
            div.setAttribute("id", dict.pieBox);
            div.setAttribute("style", "padding:15px 0px;margin-left:20px;width: 325px;height:240px;float: left;background-color:#3e367f;border-radius: 25px;");　　　　
            parent.appendChild(div);
            echartsPie = echarts.init(document.getElementById(dict.pieBox));
            echartsPie.setOption(option);
        };

        function CreatLine() {
            option = {
                title: {
                    text: '实时流量',
                    textStyle: { //图例文字的样式
                        color: '#fff'
                    }
                },
                tooltip: {
                    trigger: 'axis',
                },
                legend: {
                    data: ['发送', '下载'],
                    textStyle:{//图例文字的样式
                        color:'#ccc',
                        fontSize:16
                    }
                },

                xAxis: [{
                    type: 'category',
                    boundaryGap: false,
                    data: timeAxis,
                    axisLabel: {
                        color: 'white'
                    }
                }],
                yAxis: [{
                    type: 'value',
                    axisLabel: {
                        color: 'white'
                    }
                }],
                series: [{
                        name: '发送',
                        type: 'bar',
                        stack: '总量',
                        areaStyle: {},
                        data: sendArr,
                        barWidth : 20,//柱图宽度
                        itemStyle:{
                             normal:{
                               color:'#f5b031',
                             }
                        },
                    }, {
                        name: '下载',
                        type: 'bar',
                        barWidth : 20,//柱图宽度
                        stack: '总量',
                        areaStyle: {},
                        data: rcvdArr,
                        itemStyle:{
                             normal:{
                               color:'#C8FE2E',
                             }
                        },
                    },

                ],
                dataZoom: [{
                        start: 5,
                        end: 100,
                        type: 'inside'
                    }, {
                        handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
                }],
            };　　
            if (typeof(echartsLineFunc) == "undefined"){echartsLineFunc = echarts.init(document.getElementById('echartsLine'));};
            
            echartsLineFunc.setOption(option);
        }

        function GetLineJson() {
            $.ajax({
                type: "POST",
                dataType: "html",
                url: '/GetLine',
                success: function (data) {
                    var result = jQuery.parseJSON(data)
                    if (result.resultCode == '1') {
                        alert(result.result);
                        return 0
                    };
                    if (timeAxis.length > 6){
                    	timeAxis.splice(0,1);
                    	sendArr.splice(0,1);
                    	rcvdArr.splice(0,1);
                    };
                    timeAxis.push(result.tim);
                    sendArr.push(result.realTimeSent);
                    rcvdArr.push(result.realTimeRcvd);
                }
            });
            CreatLine()
        };
        s = setInterval(GetLineJson,3000);
        GetPieJson();
    </script>

</body>

</html>




